.register-container {
    display: flex;
  }
  
  .register-left {
    padding: 20px;
    width: 50%;
  }
  
  .logo {
    width: 100px; /* Ajusta el tamaño del logo según tu necesidad */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos adicionales según tus necesidades */
  
  .register-right {
    width: 50%;
  }
  
  .registration-image {
    width: 100%; /* Ajusta el tamaño de la imagen según tu necesidad */
  }
  