.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e1e1;
  height: 100vh;
}

.register-left {
  background-color: white;
  padding: 20px;
  margin-right: 60px;
  text-align: left;
  margin-left: 250px;
  border-radius: 15px;
  height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.register-right {
  width: 50%;
}

.center-logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

.tipo-doc {
  font-weight: bold;
  color: #524f4f;
  font-size: 16px;
}

.registration-image {
  width: 60%;
  border-radius: 20px;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #524f4f;
    
  }
  input {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%;
  }
}

.selectCC {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  color: #524f4f;

  &:focus {
    outline: none;
    border-color: #4461F2;
    box-shadow: 0 0 5px rgba(68, 97, 242, 0.7);
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-button {
  display: inline-block; 
  font-size: 14px;
  padding: 8px 16px;
  background-color: #4461F2;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 0 auto;
  margin-top: 5px;
}

.policy {
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #524f4f;
  text-align: center;
}

.check {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0px;
  margin-top: 20px;
}

.check input {
  margin-right: 10px;
}

.check p {
  flex-grow: 1;
  margin: 0;
  font-size: 10px;
  color: #524f4f;
}

