/* CreateTemplate.scss */

.ContainerPrincipal {
    background-color: #e4e1e1;
    height: 116vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ContainerSecundario {
    border-radius: 15px;
    width: 90%;
    height: 90%;
    max-height: 90%;
    background-color: white;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #1ABCFE;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titleTemplate {
    margin-left: 20px;
    color: white;
}

.Content {
    display: flex;
    justify-content: space-between;
}

.Formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.BackButtonContainer {
    margin: 0 0 20px 54px;
}

.InputGroup {
    position: relative;
    margin: 20px 0px 4px 78px;
}

.Label {
    margin-bottom: 5px;
}

.InputWithIcon {
    position: relative;
    display: block;
    width: 59%;
}

.Input {
    width: calc(100% - 30px);
    padding-right: 30px;
    height: 34px;
    border-radius: 7px;
    margin-top: 8px;
}

.InputContent {
    width: 100%;
    height: 79px;
}

.IconoInterrogacion {
    position: absolute;
    top: 50%;
    right: -37px;
    transform: translateY(-39%);
    cursor: pointer;
    color: #999;
    background-color: #ccc;
    padding: 8px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.IconoInterrogacion:hover {
    color: #555;
}

.Boton {
    width: 20%;
    align-self: center;
    background-color: #1ABCFE;
    color: white;
    border-radius: 7px;
    padding: 9px;
    margin-left: 47em;
}

.smartphoneContainer {
    margin-top: 24px;
    position: relative;
    width: 271px;
    height: 84%;
    display: flex;
    justify-content: center;
    margin-right: 17em;
}

.smartphoneContent {
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.smartphone {
    width: 100%;
    max-height: 100%;
    height: auto;
}

.Select {
    width: calc(100% - -5px);
}

.InputGroup select {
    width: calc(100% - -5px);
    padding-right: 30px;
    height: 34px;
    border-radius: 7px;
    margin-top: 8px;
}

/* Estilos específicos para los iconos de interrogación dentro de los select */
.InputGroup select .IconoInterrogacion {
    right: -37px;
    top: calc(50% - 10px); /* Ajustar la posición verticalmente para centrar */
}

.InputGroup select .IconoInterrogacion:hover {
    color: #555;
}
