.ContainerPrincipal {
    background-color: #e4e1e1;
    height: 116vh; /* response */
    margin-top: 20px; /* response */
    display: flex; /* response */
    justify-content: center; /* response */
    align-items: center; /* response */
    position: relative; /* response */
}

.ContainerSecundario {
    border-radius: 15px;
    width: 90%;
    height: 90%;
    max-height: 90%;
    background-color: white;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #1ABCFE;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.titleTemplate {
    margin-left: 20px;
    color: white;
}

.Content {
    display: flex;
    justify-content: space-between;
}

.Formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.BackButtonContainer {
    margin: 0 0 20px 54px;
}

.InputGroup {
    position: relative;
    margin: 20px 0px 4px 114px;
}

.Label {
    margin-bottom: 5px;
}

.InputWithIcon {
    position: relative;
    display: block;
    width: 76%; /* response */
}

.Input {
    width: calc(100% - 30px);
    padding-right: 30px;
    height: 33px;
    border-radius: 7px;
    margin-top: 8px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.InputContent {
    width: 100%;
    height: 100px;
    border-radius: 7px;
}

.IconoInterrogacion {
    position: absolute;
    top: 50%;
    right: -37px;
    transform: translateY(-39%);
    cursor: pointer;
    color: #999;
    background-color: #ccc;
    padding: 8px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.IconoInterrogacion:hover {
    color: #555;
}

.Boton {
    width: 20%;
    align-self: center;
    background-color: #1ABCFE;
    color: white;
    border-radius: 7px;
    padding: 9px;
    margin-left: 47em;
}

.smartphoneContainer {
    margin-top: 24px;
    position: relative;
    width: 401px; /* response */
    height: 84%; /* response */
    display: flex; /* response */
    justify-content: center; /* response */
    margin-right: 13em; /* response */
}

.smartphoneContent {
    position: absolute;
    width: 51%; /* response */
    /* height: 69%; */
    display: block; /* response */
    /* flex-direction: column; */
    justify-content: center; /* response */
    align-items: center; /* response */
    overflow: auto; /* response */
}

.smartphone {
    width: 67%; /* response */
    max-height: 99%; /* response */
    height: auto; /* response */
}
