.containerPrincipal {
  background-color: #e4e1e1;
  height: 90vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.templates-container {
  border-radius: 15px;
  width: 90%;
  height: 90%;
  max-height: 90%;
  background-color: white;
}

.header {
  background-color: #1abcfe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
  .titlePlantillas {
    margin-left: 20px;
    color: white;
  }
}

.create-button {
    background-color: white;
    color: #1abcfe;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .create-button:hover {
    background-color: #4e7f93;
    color: white;
  }
  

.content {
  display: flex;
  flex-direction: column;
}

.titulo {
  margin-bottom: 10px;
  margin-left: 46px;
}

.input-field {
  margin-right: 10px;
  padding: 8px;
  width: 83%;
}

.buttonFiltrar {
  padding: 10px 16px;
  background-color: #4461F2;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 19px;
}

.buttonFiltrar:hover {
  background-color: #4e7f93;
  color: white;
}

.inputbuscar {
  width: 46%;
  border: 1px solid #ccc;
  height: 30px;
  margin-left: 45px;
  padding: 3px;
  border-radius: 6px;
}

.table {
  width: 94%;
  border-collapse: collapse; 
  margin-left: 43px;
}

.th,
.td {
  padding: 8px;
  text-align: center;
}


.th {
  background-color: #1abdfe63;
  border-top-left-radius: 10px;
}

.th{
  width: 50px;
}

.td {
  text-align: center;
}

.preview-icon {
  color: blue;
}

.btneditar,
.btneliminar {
  float: right;
  margin: 14px 10px 17px 10px;
  padding: 8px 31px 8px 34px;
  background-color: #4461F2;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 19px;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.status-circle-equis {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(187, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.check-Equis {
  color: white;
}

.check-mark {
  color: green;
}

.cross-mark {
  color: red;
}

.check-mark {
  color: white;
}

.selected {
  background-color: #f0f0f0;
}

.containerbtn {
  margin-right: 35px;
}
