.containerPrincipal {
  background-color: #e4e1e1;
  height: 90vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
  position: relative;
}

.templates-container {
  border-radius: 15px;
  width: 90%;
  max-height: 90vh; /* Limita la altura máxima del contenedor */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido excede el tamaño del contenedor */
  background-color: white;
  margin-top: 20px; /* Aumenta el margen superior para separar del contenedor principal */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #1ABCFE;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tab {
  color: white;
  padding: 10px 10px 10px 32px;
  border-radius: 5px;
  font-size: 27px;
}

.create-button {
  background-color: white;
  color: blue;
  padding: 5px 24px 8px 24px;
  border-radius: 7px;
  cursor: pointer;
  margin: 0px 29px 0px 0px;
}

.content {
  display: flex;
  flex-direction: column;
}

.titulo {
  margin-bottom: 10px;
  margin-left: 46px;
}

.input-field {
  margin-right: 10px;
  padding: 8px;
  width: 83%;
}

.buttonFiltrar {
  padding: 10px 16px;
  background-color: #4461F2;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 19px;
}

.inputbuscar {
  width: 46%;
  border: 1px solid #ccc;
  height: 30px;
  margin-left: 45px;
  padding: 3px;
  border-radius: 6px;
}

.table {
  width: 94%;
  border: none;
  margin-left: 43px;
}

.th,
.td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.th {
  background-color: #1abdfe63;
  border-top-left-radius: 10px;
}

.th:first-child {
  width: 50px;
}

.td:first-child {
  text-align: center;
}

.preview-icon {
  color: blue;
}

.btneditar,
.btneliminar {
  float: right;
  margin: 14px 10px 17px 10px;
  padding: 8px 31px 8px 34px;
  background-color: #4461F2;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 19px;
}

.status-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.status-circle-equis {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(187, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.check-Equis {
  color: white;
}

.check-mark {
  color: green;
}

.cross-mark {
  color: red;
}

.check-mark {
  color: white;
}

.selected {
  background-color: #f0f0f0;
}

.containerbtn {
  margin-right: 35px;
}

.template-info-box {
    border-radius: 7px;
    background-color: #cccccc8c;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 76px;
}

.template-info-box:hover {
  cursor: pointer; /* Cambia el cursor al pasar sobre el cuadro */
}

.template-item2 {
  width: 48%;
  display: inline-block;
  margin: 23px 4px 6px 0px;
}
