.inicio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .cuadroContacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 53vh;
    border-radius: 10px;
    background-color: #92adcc3d;
    margin: 10em 0px 0px 27px;
    text-align: center;
    
  }
  
  .textContactos, 
  .textCampañas, 
  .textPlantillas {
    font-size: 2em;
  
  }
  
  .cuadroCampaing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 53vh;
    border-radius: 10px;
    background-color: #1abdfe27;
    margin: 10em 0px 0px 0px;
    text-align: center;
  }
  
  .cuadroTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 53vh;
    border-radius: 10px;
    background-color: #ee760d31;
    margin: 10em 27px 0px 0px;
    text-align: center;
  }
  
  .iconContact {
    font-size: 15rem;
    color: #92ADCC;
  }
  
  .iconCampaing {
    font-size: 15rem;
    color: #1ABCFE;
  }
  
  .iconTemplate {
    font-size: 15rem;
    color: orange;
  }