.inicio-container {
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.contactos, .Plantillas, .campañas {
  width: 78%;
  height: auto;
  margin-top: 7em;
  margin-left: 3.5em;
}