.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: rgb(58, 47, 47);
  background-color: white;
  height: 40px;
}

.logo {
  height: 60px;
  width: auto; 
  margin-top: 50px;
}

.links {
  display: flex;
  font-size: 18px;
  margin-right: 500px;
}

.links a {
  margin-left: 30px;
  color: rgb(155, 146, 146);
  text-decoration: none;
}

.links a:first-child {
  margin-left: 0;
}

.links a.active {
  color: rgb(81, 81, 82);
  font-weight: bold;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  margin-right: 20px;
}

.navbar-list {
  .popover {
    background-color: #54ceff;
    border-radius: 5px;
    color: white;
    padding: 10px;
  }

  .popover-body {
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      padding: 5px;
      box-sizing: border-box; 
      &:hover {
        background-color: #6f8eb1;
      }
    }
  }
}

