.login-container {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }
  
  .login-sidebar {
    width: 70%;
  }
  
  .logoLogin {
    width: 20%;
    padding-left: 25em;
    display: block;
  }
  
  .imagenlog {
    width: 66%;
    padding-left: 10em;
  }
  
  .language-selector-container,
  .button-container {
    margin-bottom: 20px;
    align-items: center;
  }
  
  .language-selector {
    font-size: 12px;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 13em;
    cursor: pointer;
  }
  
  .arrow-icon {
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    align-items: center;
  }
  
  .register-button {
    background-color: #ffffff;
    color: #4461F2;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 7px;
    padding: 6px;
    border: 1px solid blue;
  }
  
  .login-text {
    font-size: 12px;
    padding-left: 10px;
    color: #4461F2;
  }
  
  .login-form {
    flex: 30%;
    padding: 14px 61px 25px 61px;
    border: 1px solid rgba(217, 217, 217, 0.5333333333);
    background-color: rgba(217, 217, 217, 0.5333333333);
    width: 100%;
  
    .label {
      margin-bottom: 8px;
      display: block;
    }
  
    select.Ilogin,
    .Ilogin {
      margin-bottom: 16px;
      padding: 8px;
      font-size: 14px;
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid #ccc;
      color: grey;
    }
  
    .Ilogin {
      margin-bottom: 16px;
      padding: 8px;
      font-size: 14px;
    }
  
    .password-container {
      position: relative;
  
      .Ilogin {
        width: 100%; 

      }
  
      .eye-icon {
        position: absolute;
        top: 34%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: grey;
      }
    }
  
    .eye-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
  
    }
  
    .btnIniciarSesion {
      background-color: #4461F2;
      color: white;
      padding: 10px;
      cursor: pointer;
      font-size: 16px;
      width: 20em;
      margin-top: 4em;
      margin-left: 3em;
      border-radius: 7px;
      border: none;
      box-shadow: 3px 5px 0px blue;
  
      &:hover {
        background-color: #1e2958;
      }
    }
  
    .title {
      text-align: center;
      margin: 58px 0px 43px 0px;
      font-size: 32px;
    }
  
    .Ilogin {
      border-radius: 5px;
      border: white;
      box-shadow: 2px 3px 5px #ccc;
    }
  
    .recuperarCont {
      color: grey;
      text-decoration: none;
      font-size: 12px;
      padding-left: 23em;
    }
  
    .lenguaje {
      width: 10px;
      padding-left: 5px;
    }
  
  }
  